@charset "UTF-8";


#writeBtn{
	width:80px;
	float:right;
	display:block;
	padding:3px 5px;
	font-weight:bold;
	background: #c80a1e;
	color:white;
	border:1px solid #c80a1e;
	border-radius: 20px;
	text-align: center;
}

#writeBtn:hover{
	background:none;
	border:1px solid #c80a1e; !important;
	color:#c80a1e;
}


.pageBtn{
	border:1px solid black; 
	background: #fff;
}





/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
  text-align: center !important;
}

.column11 {
  width: 15%;
  padding-left: 40px;
}

.column12 {
  width: 85%;
}


.column100 {
  width: 5%;
}

.column101 {
  width: 12%;
}

.column102 {
  width: 18%;
}

.column103 {
  width: 12%;
}

.column104 {
  width: 8%;
}

.column105 {
  width: 12%;
}

.column106 {
  width: 10%;
}

.column107 {
  width: 12%;
}

.column108 {
  width: 11%;
}


.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.table100.ver1 td {
  font-family: Lato-Regular;
  font-size: 13px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}







/*-----------------------------------------*/

.form-control2 {
  display: block;
  width: 60%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eaf8fd;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25); }
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }
    
    
.form-group2 { 
   display: flex; 
 }
 
.pwcheck-form{
	margin: 0px 10px;	
}

#label_pw{
	margin-left: 10%;
}


.form-control3 { 
   display: flex; 
 }
 
 .frm_input_set{
 	margin: 0 0 0 30%;
 }

.frm_input_set input[type="text"]{
	width: 60%;
	margin-bottom: 10px;
}

.frm_input_set input[type="password"]{
	width: 60%;
	margin-bottom: 10px;
}

#sample6_postcode{
	width: 30%;
}

.frm_input_set input[type="submit"]{
	width: 60%;
	margin: 0 auto;
}


#updateInfoBtn{
	margin: auto;
	margin-left: 25px;
	width: 180px;
	height: 33px;
	vertical-align: middle;
	padding: 0px;
}

#writeRequestBtn{
	margin-bottom: 30px;
}

#request_view td{
	padding: 15px; !important;
	height:auto;
}

.tbody-test{
	text-align: left; !important;
}


.fp{
	padding-top: 30px; !important;
	padding-bottom: 30px; !important;
}

.pd{
	padding-top: 1em; !important;
}

#td_width1{
	width:30%;
}
#td_width2{
	width:70%;
}
