@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");

footer li{
   list-style-type:none;
}

footer{
   	font-family:'Noto Sans KR', sans-serif;
	background: #f8f9fa;
	padding:10px;	
}
.footerbox{
	width:100%;
	text-align:center;
	display:flex;
	color:#aaa !important;
}
.footer1{
	flex:1;
	color:#aaa !important;
	padding:0 !important;
}
.footer1 h4{
	font-size:0.98em;
	margin-bottom:0 !important;
	margin-top:8px;
}
.footer1 li{
	font-size:0.9em;
}
.footerbox h3:last-child{
	border-left:1px solid #aaa;
}

@media screen and (min-width:500px) and (max-width:700px){
.footerbox h3:last-child{
	display:none;
}

}


@media screen and (max-width:499px){
footer{
	display:block;
	min-width:200px;
	padding:10px;
}

.footerbox h3{
	font-size:0.95em !important;
}
.footer1 h4{
	font-size:0.88em;
}
.footer1 li{
	font-size:0.8em;
}
}